In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
db_connection_str = 'mysql+pymysql://mysql_admin:1nsecure@mysql-test.cyqas5b0owfs.eu-central-1.rds.amazonaws.com/tweets'
db_connection = create_engine(db_connection_str)

In [5]:
sql = """SELECT
            LEFT(UPPER(REPLACE(user_name, '"', '')),1) Letter,
            COunt(*) Freq
         from
            Users 
        group by
            LEFT(UPPER(REPLACE(user_name, '"', '')),1) limit 10"""

df = pd.read_sql(sql, con=db_connection)
df.head()

  Letter  Freq
0      _  1465
1      0   101
2      1   339
3      2   165
4      3   100

In [6]:
df.to_json('/app/notebooks/data/bar.json',orient='records')